.row {
    display: flex;
    justify-content: space-between;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 button:hover,
  button:active{
    flex: 2;
    background-color: #6e309c;
    border: 1px solid #a892ee;
    border: #a892ee;
    text-align: center;
    color: white;

  }
  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }
  button.add {
    background-color: #a892ee;
    border: 1px solid #a892ee;
    color: white;
    width: 1.5rem;
    border-radius: 5px;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: large;
  }
  button.remove {
    background-color: transparent;
    border: 1px solid #a892ee;
    color: #000000;
    width: 1.5rem;
    margin-left: 0.25rem;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    font-size: large;
  }
  .buttons button:hover,
  button:active {
    flex: 2;
    font: inherit;
    cursor: pointer;
    border: 1px solid #6e309c;
  }

/* .cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #a892ee;
  border: 1px solid #e7e7e7;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #510674;
  border-color: #510674;
  color: white;
}

.actions .button--alt {
  color: #ffffff;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
} */
