@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.mainpage {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(174, 190, 238);
  background: radial-gradient(
    circle,
    rgba(174, 190, 238, 1) 0%,
    rgba(181, 148, 233, 1) 100%
  );
  padding-bottom: 9rem;
  height: 100vh;
}

.animal {
  position: absolute;
  display: flex;
  margin: auto;
}

.maintext {
  color: #000;
  margin: 15rem 15rem auto auto;
  padding: 0;
  width: auto;
}

.uptext h5 {
  margin: 0;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  font-family: "Pacifico", "Unbounded";
}

.lowtext h6 {
  text-align: center;
}
