@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.products-page {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-container {
  position: relative;
}

.center-banner {
  display: block;
  margin: 0 auto;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 450;
  font-size: 75px;
  font-family: "Pacifico", "Unbounded";
  color: #fff;
}

.row {
  width: 100%;
}

/*
.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pacifico", "Unbounded";
  font-size: 20px;
} */
