.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin: 10px 10px 15px 10px;
  width: 30px;
  height: 30px;
}

p,
.login-font {
  font-size: 12px;
}

.spacing {
  padding: 3px 0 0 0;
}

.purple-text {
  color: #5e518c;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.purple-text:hover {
    color: #5e518c;
}

.purple-hover::before {
  content: '';
  background-color: #9a9dd953;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.purple-hover:hover::before {
  bottom: 0;
  height: 100%;
}

.smaller-container {
  margin: auto;
  width: 70%;
}
